nav {
    height: 100px;
    background-color: #8CD7D8;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100px;
        width: auto;
        cursor: pointer;
    }
    a {
        font-size: 40px;
        font-weight: bold;
        color: #625858;
        cursor: pointer;
    }
}