<!-- <div class="product-card" (click)="onContinue(bird.id)" birdBorderCard>
    <div class="picture-container">
        <img class="bird-picture" [src]="'assets/images/' + bird.picture" alt="">
    </div>
    <div class="card-text-container">
        <h2>{{ bird.name | uppercase}}</h2>
        <p>{{ bird.created | date: "dd/MM/yyyy"}}</p>
        <div class="locations-container">
            <div *ngFor="let location of bird.locations" [style.backgroundColor]="location | continentPipeColour" class="location-text-container">
                <span>{{ location }}</span>
            </div>
        </div>
    </div>
</div> -->

<!---->

<div class="container">
    <div (click)="onContinue(bird.id)" class="card horizontal" birdBorderCard>
        <div class="card-image">
            <img [src]="'assets/images/' + bird.picture" />
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>{{ bird.name }}</p>
                <p><small>{{ bird.created | date: 'dd/MM/yyyy' }}</small></p>
                <span 
                    *ngFor="let location of bird.locations" 
                    class="{{ location | continentPipeColour }}"
                >
                    {{ location }}
                </span>
            </div>
        </div>
    </div>
</div>

