<div class="form-container">
    <form #birdForm="ngForm" (ngSubmit)="onSubmitForm(birdForm)">
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" id="name" name="name"
            required
            pattern="^[a-zA-Zàéèç]{1,25}$"
            [(ngModel)]="bird.name"
            #name="ngModel"
            >
            <div [hidden]="name.valid || name.pristine" class="error-message-container">
                <p>Le nom de l'oiseau est requis</p>
            </div>
        </div>

        <div *ngIf="isAddForm" class="form-group">
            <label for="picture">Image</label>
            <input type="url" id="picture" name="picture"
            required
            [(ngModel)]="bird.picture"
            #picture="ngModel"
            >
            <div [hidden]="picture.valid || picture.pristine" class="error-message-container">
                <p>L'image de l'oiseau est requise</p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="10" cols="60"
            required
            [(ngModel)]="bird.description"
            #description="ngModel"></textarea>
            
            <div [hidden]="description.valid || description.pristine" class="error-message-container">
                <p>La description de l'oiseau est requise</p>
            </div>
        </div>

        <div class="form-group">
            <label for="locations">Localisations</label>
            <p *ngFor="let location of locations">
                <label>
                    <input type="checkbox"
                    id="{{ location }}"
                    [value]="location"
                    [checked]="hasLocation(location)"
                    [disabled]="!isLocationValid(location)"
                    (change)="addOrRemoveLocation($event, location)"/>
                    <span>
                        {{ location}}
                    </span>
                </label>
            
            </p>

        </div>
        
        <button>OK</button>
    </form>
</div>

<h4 *ngIf="!bird" class="center">
    <app-loader></app-loader>
</h4>